@import url(reset.css);

header, footer {
    height: 60px;
    background-color: #FE1A19;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;
    color: #FFFFFF;
}

.header {
    padding: 20px 20px;
}

.page {
    background-color: #FFFFFF;
}

.section-box {
    display: inline-block;
    margin-top: 52px;
    margin-bottom: 52px;
    margin-right: 50px;
}

.section-box.first {
    margin-left: 70px;
}

.content-box {
    width: 400px;
    height: 800px;
    border: 5px solid #E5E000;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 20px;
}

h2 {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold; 
    line-height: 23px;
    color: #000000;
    padding-top: 33px;
    padding-left: 33px;
}

.text-content {
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 23px;
    margin: 33px;
}

.copyright {
    display: inline-block;
    margin: 20px 20px;
}

.home-button {
    float: right;
    margin: 20px 20px;
}

.home-button a {
    color: #FFFFFF;
    text-decoration: none;
}