@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    src: url(../font/FuturaPT-Light.ttf);
    font-family: 'FuturaPT';
    font-weight: normal;
}

.header {
    width: 1440px;
    height: 200px;
    background: #FFA000;
}

.heading {
    color: #FFFFFF;
    padding: 80px 890px 80px 80px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

.image {
    width: 1440px;
    height: 1080px;
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position: center;
}

.navigation {
    width: 1440px;
    height: 100px;
    background: #FFA000;
}

.nav-container {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    padding: 36px 425px 35px 80px;
}

.navigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.text-container {
    width: 1280px;
    height: 637px;
    padding: 80px;
    font-size: 50px;
}

.text-container h2 {
    font-family: 'Roboto', sans-serif;
}

.text-container p {
    font-family: 'FuturaPT', serif; 
}

.links {
    color: #0000FF;
    text-decoration: none;
}

.footer {
    width: 1440px;
    height: 200px;
    background: #FFA000;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 80px 50%;
}

.copyright {
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding: 70px 80px 66px 746px;
}