@import url(reset.css);

html {
    font-size: 10px;
}

/** {
    outline: 2px solid red;
}*/

.header, .footer {
    width: 100%; 
    height: 14rem;
    font-family: 'Arial';
    font-size: 5rem;
    position: relative;

}

.header {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 1;
    color: #E50043;
}

.footer {
    background-color: #F8BFC7;
    color: #FFFFFF;
}

.heading {
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.nav {
    position: absolute;
    top: 5rem;
    right: 5rem;
}

.nav a {
    color: #E50043;
    text-decoration: none;
}

.main-img {
    height: 950px;
}

.bgi {
    margin-top: 14rem;
    width: 100%;
    height: 100%;
}
































/*.hero-block {
    width: 100%;
    height: 1100px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    box-shadow: 0 25px 20px white inset; */
/*    display: flex;
    position: absolute;
    top: 140px;
}

.hero-txt {
    font-family: 'Arial';
    font-size: 10rem;
    color: #E50043;
    margin: auto;
}



*/

/*.copyright {
    position: absolute;
    top: 5rem;
    left: 5rem;
}

.home-button {
    position: absolute;
    top: 5rem;
    right: 5rem;
}

.footer a {    
    color: #FFFFFF;
    text-decoration: none; 
}*/